.modal-content {
  .modal-header {
    .modal-title {
      .title {
        color: #1e0d03;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
      }
    }
  }

  .modal-body {
    .content {
      width: 100%;

      table {
        width: 100%;
        tbody {
          tr {
            margin-bottom: 17px;
            td {
              span {
              }
            }
          }
        }
      }
    }
  }
}
