.calendar {
  margin-right: 60px;
}

span.ant-picker-suffix {
  color: #ff8a48;
}

.ant-calendar-picker-input.ant-input {
  border-radius: 8px;
}

.ant-picker-dropdown {
  z-index: 9999 !important;
  .ant-picker-panel-container {
    border-radius: 8px !important;
  }
}
