.calendar {
  background: #ffffff;
  border: 1px solid #e6e0e0;
  margin-right: 63px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  padding: 7px;
  width: 130px;
  height: 40px;
  i {
    color: #faa05f;
    margin-left: 5px;
  }
}
